## **Guided Project: Exploring eBay Car Sales Data**
### Brief Summary of the Project:
#### The eBay dataset is that of used cars listed on ebay(an online market place). I will be working with 50,000 data points from the full dataset. This modified dataset is "dirty". The aim of this project is to clean the dataset and perform some initial analysis.

In [2]:
import numpy as np
import pandas as pd

# Read our csv file into pandas
autos = pd.read_csv("C:/Users/HomePC/Downloads/autos.csv", encoding = "Latin-1")
print(autos)

               dateCrawled                                               name  \
0      2016-03-26 17:47:46                   Peugeot_807_160_NAVTECH_ON_BOARD
1      2016-04-04 13:38:56         BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik
2      2016-03-26 18:57:24                         Volkswagen_Golf_1.6_United
3      2016-03-12 16:58:10  Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...
4      2016-04-01 14:38:50  Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...
...                    ...                                                ...
49995  2016-03-27 14:38:19   Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon
49996  2016-03-28 10:50:25  Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...
49997  2016-04-02 14:44:48                     Fiat_500_C_1.2_Dualogic_Lounge
49998  2016-03-08 19:25:42                 Audi_A3_2.0_TDI_Sportback_Ambition
49999  2016-03-14 00:42:12                                Opel_Vectra_1.6_16V

       seller offerType    price   abtest vehicleType  yearOfRegistration  \
0      privat   Angebot   $5,000  control         bus                2004
1      privat   Angebot   $8,500  control   limousine                1997
2      privat   Angebot   $8,990     test   limousine                2009
3      privat   Angebot   $4,350  control  kleinwagen                2007
4      privat   Angebot   $1,350     test       kombi                2003
...       ...       ...      ...      ...         ...                 ...
49995  privat   Angebot  $24,900  control   limousine                2011
49996  privat   Angebot   $1,980  control      cabrio                1996
49997  privat   Angebot  $13,200     test      cabrio                2014
49998  privat   Angebot  $22,900  control       kombi                2013
49999  privat   Angebot   $1,250  control   limousine                1996

         gearbox  powerPS   model   odometer  monthOfRegistration fuelType  \
0        manuell      158  andere  150,000km                    3      lpg
1      automatik      286     7er  150,000km                    6   benzin
2        manuell      102    golf   70,000km                    7   benzin
3      automatik       71  fortwo   70,000km                    6   benzin
4        manuell        0   focus  150,000km                    7   benzin
...          ...      ...     ...        ...                  ...      ...
49995  automatik      239      q5  100,000km                    1   diesel
49996    manuell       75   astra  150,000km                    5   benzin
49997  automatik       69     500    5,000km                   11   benzin
49998    manuell      150      a3   40,000km                   11   diesel
49999    manuell      101  vectra  150,000km                    1   benzin

            brand notRepairedDamage          dateCreated  nrOfPictures  \
0         peugeot              nein  2016-03-26 00:00:00             0
1             bmw              nein  2016-04-04 00:00:00             0
2      volkswagen              nein  2016-03-26 00:00:00             0
3           smart              nein  2016-03-12 00:00:00             0
4            ford              nein  2016-04-01 00:00:00             0
...           ...               ...                  ...           ...
49995        audi              nein  2016-03-27 00:00:00             0
49996        opel              nein  2016-03-28 00:00:00             0
49997        fiat              nein  2016-04-02 00:00:00             0
49998        audi              nein  2016-03-08 00:00:00             0
49999        opel              nein  2016-03-13 00:00:00             0

       postalCode             lastSeen
0           79588  2016-04-06 06:45:54
1           71034  2016-04-06 14:45:08
2           35394  2016-04-06 20:15:37
3           33729  2016-03-15 03:16:28
4           39218  2016-04-01 14:38:50
...           ...                  ...
49995       82131  2016-04-01 13:47:40
49996       44807  2016-04-02 14:18:02
49997       73430  2016-04-04 11:47:27
49998       35683  2016-04-05 16:45:07
49999       45897  2016-04-06 21:18:48

[50000 rows x 20 columns]

In [3]:
# This is implicit display. It's more presentable as opposed to using the print method
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [4]:
# Getting to have an overview of the data
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

## **Observations Made**
#### The dataset has 50,000 rows with 20 columns. The values are of two data types; int and objects. 
#### Int data type is visible in 5 columns while the rest of the columns carry the object data type.
#### Some columns have null values like in the fueltype, vehicletype and model columns.
#### The columns have pascal case format which needs to be changed to python's snake case format.

In [6]:
# Viewing all the column names
all_columns = autos.columns
print(all_columns)

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [7]:
# Renaming columns to accomodate the python Snake Case format
column_corrections = {"yearOfRegistration" : "registration_year",
"monthOfRegistration" : "registration_month", "notRepairedDamage" : "unrepaired_damage",
"dateCreated" : "ad_created", "dateCrawled" : "date_crawled", "name" : "name", "seller" : "seller", "offerType" : "offer_type", 
"price" : "price", "abtest" : "abtest", "vehicleType" : "vehicle_type", "gearbox" : "gearbox", "powerPS" : "power_ps", "model" : "model",
                      "odometer" : "odometer", "fuelType" : "fuel_type", "brand" : "brand", "nrOfPictures" : "picture_number", 
                     "postalCode" : "postal_code", "lastSeen" : "last_seen"}

autos.columns = autos.columns.map(column_corrections)

print(autos.columns)

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'picture_number', 'postal_code',
       'last_seen'],
      dtype='object')

In [8]:
# Observing the dataframe after the above adjustments have been made
(autos.head())

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,picture_number,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [9]:
# Let us now look at the descriptive statistics for every column including the categorical ones
column_statistics = autos.describe(include = "all")
print(column_statistics)


# It is apparent that the price and distance_covered columns are numeric values stored as texts
# They need to be converted to numeric data types
# Also the number of pictures column seems to have the value 0 in all rows, we can drop it
# The seller and offer type columns are similar/almost similar, we can drop them as well as they lack useful info for analysis

               date_crawled         name  seller offer_type  price abtest  \
count                 50000        50000   50000      50000  50000  50000
unique                48213        38754       2          2   2357      2
top     2016-04-02 11:37:04  Ford_Fiesta  privat    Angebot     $0   test
freq                      3           78   49999      49999   1421  25756
mean                    NaN          NaN     NaN        NaN    NaN    NaN
std                     NaN          NaN     NaN        NaN    NaN    NaN
min                     NaN          NaN     NaN        NaN    NaN    NaN
25%                     NaN          NaN     NaN        NaN    NaN    NaN
50%                     NaN          NaN     NaN        NaN    NaN    NaN
75%                     NaN          NaN     NaN        NaN    NaN    NaN
max                     NaN          NaN     NaN        NaN    NaN    NaN

       vehicle_type  registration_year  gearbox      power_ps  model  \
count         44905       50000.000000    47320  50000.000000  47242
unique            8                NaN        2           NaN    245
top       limousine                NaN  manuell           NaN   golf
freq          12859                NaN    36993           NaN   4024
mean            NaN        2005.073280      NaN    116.355920    NaN
std             NaN         105.712813      NaN    209.216627    NaN
min             NaN        1000.000000      NaN      0.000000    NaN
25%             NaN        1999.000000      NaN     70.000000    NaN
50%             NaN        2003.000000      NaN    105.000000    NaN
75%             NaN        2008.000000      NaN    150.000000    NaN
max             NaN        9999.000000      NaN  17700.000000    NaN

         odometer  registration_month fuel_type       brand unrepaired_damage  \
count       50000        50000.000000     45518       50000             40171
unique         13                 NaN         7          40                 2
top     150,000km                 NaN    benzin  volkswagen              nein
freq        32424                 NaN     30107       10687             35232
mean          NaN            5.723360       NaN         NaN               NaN
std           NaN            3.711984       NaN         NaN               NaN
min           NaN            0.000000       NaN         NaN               NaN
25%           NaN            3.000000       NaN         NaN               NaN
50%           NaN            6.000000       NaN         NaN               NaN
75%           NaN            9.000000       NaN         NaN               NaN
max           NaN           12.000000       NaN         NaN               NaN

                 ad_created  picture_number   postal_code            last_seen
count                 50000         50000.0  50000.000000                50000
unique                   76             NaN           NaN                39481
top     2016-04-03 00:00:00             NaN           NaN  2016-04-07 06:17:27
freq                   1946             NaN           NaN                    8
mean                    NaN             0.0  50813.627300                  NaN
std                     NaN             0.0  25779.747957                  NaN
min                     NaN             0.0   1067.000000                  NaN
25%                     NaN             0.0  30451.000000                  NaN
50%                     NaN             0.0  49577.000000                  NaN
75%                     NaN             0.0  71540.000000                  NaN
max                     NaN             0.0  99998.000000                  NaN

### **General Observations of The Columns**
#### -It is apparent that the price and distance_covered columns are numeric values stored as texts
#### -They need to be converted to numeric data types
#### -Also the number of pictures column seems to have the value 0 in all rows, we can drop it
#### -The seller and offer type columns are similar/almost similar, we can drop them as well as they lack useful info for analysis

In [11]:
                                
# Removing non-numeric characters from numeric columns (price column)
autos["price"] = autos["price"].str.replace("$","").str.replace(",", "")

# Converting the values to numeric data type
autos["price"] = autos["price"].astype(int)

# Show the first five columns
autos["price"].head()

0    5000
1    8500
2    8990
3    4350
4    1350
Name: price, dtype: int32

In [12]:

# Removing non-numeric characters from numeric columns (odometer column)
autos["odometer"] = autos["odometer"].str.replace("km", "").str.replace(",", "")

# Converting the values to numeric data type
autos["odometer"] = autos["odometer"].astype(int)

# Renaming the odometer column (without assignment)
autos.rename({"odometer" : "odometer_km"}, inplace = True, axis = 1)

# Show the first 5 rows
autos["odometer_km"].head()

0    150000
1    150000
2     70000
3     70000
4    150000
Name: odometer_km, dtype: int32

In [13]:
autos = autos.drop(["picture_number", "seller", "offer_type"], axis = 1)
autos

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,24900,control,limousine,2011,automatik,239,q5,100000,1,diesel,audi,nein,2016-03-27 00:00:00,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,1980,control,cabrio,1996,manuell,75,astra,150000,5,benzin,opel,nein,2016-03-28 00:00:00,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,13200,test,cabrio,2014,automatik,69,500,5000,11,benzin,fiat,nein,2016-04-02 00:00:00,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,22900,control,kombi,2013,manuell,150,a3,40000,11,diesel,audi,nein,2016-03-08 00:00:00,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,1250,control,limousine,1996,manuell,101,vectra,150000,1,benzin,opel,nein,2016-03-13 00:00:00,45897,2016-04-06 21:18:48

In [14]:
# Analyzing the price column in details 
unique_price = autos["price"].unique().shape
print(unique_price)

price_describe = autos["price"].describe()
print(price_describe)

price_count = autos["price"].value_counts().sort_index(ascending = False).head(20)
print(price_count)

# It seems that there are outliers in the price column.
# prices increases steadily to $350,000 before jumping to unrealistic values of up to $99 million.
# We will need to remove prices that are above $350,000
# The rows with 0 as price account for 2% of the data which has no profound impact on the dataset
# These rows with 0 as price will also be removed

(2357,)
count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64
price
99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
Name: count, dtype: int64

### **Observations Made On the Price Column**

- Most cars are low-priced (typically between $1K and $7K) as the 75% percentile shows.
- But a few incorrect or extremely high prices like **$100 million** make the average much higher than it should be.
- The data is highly skewed as a few outliers are distorting the mean.
- Prices increases steadily to **$350,000** before jumping to unrealistic values of up to **$99 million.**
- We will need to remove prices that are above $350,000.
- The rows with 0 as price account for 2% of the data which has no profound impact on the dataset.
- These rows with 0 as price will also be removed.

In [16]:
# Remove the outliers in the price column including the rows with 0 
price_accepted = autos["price"].between(1, 351000) # returns a boolean series
autos = autos[price_accepted] # returns a dataframe that meets the above condition
autos["price"].describe()

count     48565.000000
mean       5888.935591
std        9059.854754
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price, dtype: float64

In [17]:
# Exploring the registration_year column
autos["registration_year"].describe()

# The registration year of a car should tell us how old the vehicle is. However,  we find some strange and unrealistic entries:  
# The earliest year listed is 1000 centuries before cars even existed.  
# The latest year is 9999, which is thousands of years ahead in the future.  
# This suggests there are in the data that need to be fixed for accurate analysis.

count    48565.000000
mean      2004.755421
std         88.643887
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

### **Observations on the Registration Year Column**
#### **-The registration year of a car should tell us how old the vehicle is. However,  we find some strange and unrealistic entries:**  
#### **-The earliest year listed is 1000 centuries before cars even existed.**  
#### **-The latest year is 9999, which is thousands of years ahead in the future.**  
#### **-This suggests there are in the data that need to be fixed for accurate analysis.**

In [19]:
# Historical context: Cars were mass-produced starting in the early 1900s.
# Current year: The dataset’s latest entry is from 2016, so no car can be registered after this.

autos = autos[autos["registration_year"].between(1910, 2016)]
autos["registration_year"].value_counts(normalize = True).head(10)

registration_year
2000    0.067608
2005    0.062895
1999    0.062060
2004    0.057904
2003    0.057818
2006    0.057197
2001    0.056468
2002    0.053255
1998    0.050620
2007    0.048778
Name: proportion, dtype: float64

In [62]:
brand_counts = autos["brand"].value_counts(normalize=True) * 100

# German brands hold 4 of the top 5 spots
# These make up ~50% of all listings
# Volkswagen leads with double the listings of runners-up
# We'll analyze only brands with >5% share (significant players)
# Smaller brands (<5%) excluded for focused insights

common_brands = brand_counts[brand_counts > 5].index # index removes the percentages and returns just the names

print(common_brands)

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford'], dtype='object', name='brand')

In [21]:
# Exploring and calculating the Price by Brand

brand_mean_prices = {}

for brand in common_brands:
   specific_brand =  autos[autos["brand"] == brand]
   mean_price = specific_brand["price"].mean()
   brand_mean_prices[brand] = int(mean_price)
print(brand_mean_prices)

# Premium Tier: Audi, BMW, and Mercedes-Benz command higher prices.

# Budget Tier: Ford and Opel are more affordable.

# Volkswagen’s catchy Spot: Priced midway, likely boosting its popularity by balancing cost and quality

{'volkswagen': 5402, 'bmw': 8332, 'opel': 2975, 'mercedes_benz': 8628, 'audi': 9336, 'ford': 3749}

### **Conclusions/Observations from Price by Brand Aggregation**
#### -Premium Tier: Audi, BMW, and Mercedes-Benz command higher prices.

#### -Budget Tier: Ford and Opel are more affordable.

#### -Volkswagen’s catchy Spot: Priced midway, likely boosting its popularity by balancing cost and quality

In [23]:
# Exploring Mileage and Calculating the average mileage by brand
brand_average_mileage = {} # dictionary to store the average mileage by brand
for brand in common_brands:
    specific_brand = autos[autos["brand"] == brand]
    average_mileage = specific_brand["odometer_km"].mean()
    brand_average_mileage[brand] = int(average_mileage)
print(brand_average_mileage)

{'volkswagen': 128707, 'bmw': 132572, 'opel': 129310, 'mercedes_benz': 130788, 'audi': 129157, 'ford': 124266}

In [64]:
# Storing Aggregate Data(stored in a dictionary) in a Dataframe

# Use the Pandas Series Constructor to Construct a Series Object for both dictionaries
bmp_series = pd.Series(brand_mean_prices)
bam_series = pd.Series(brand_average_mileage)

print(bmp_series)
print(bam_series)

volkswagen       5402
bmw              8332
opel             2975
mercedes_benz    8628
audi             9336
ford             3749
dtype: int64
volkswagen       128707
bmw              132572
opel             129310
mercedes_benz    130788
audi             129157
ford             124266
dtype: int64

In [25]:
# Use the Pandas Dataframe Constructor to construct a dataframe using the first series object
bmp_dataframe = pd.DataFrame(bmp_series, columns = ["mean_price"])
bma_dataframe = pd.DataFrame(bam_series, columns = ["average_mileage"])

# Adding a column to the original dataframe
bmp_dataframe["average_mileage"] = average_mileage

print(bmp_dataframe)

               mean_price  average_mileage
volkswagen           5402    124266.012872
bmw                  8332    124266.012872
opel                 2975    124266.012872
mercedes_benz        8628    124266.012872
audi                 9336    124266.012872
ford                 3749    124266.012872


### **Key Observations and Conclusions**
#### -Mileage consistency: Top brands vary by ≤10% in mileage

#### -Price disparity: Significant price gaps exist between brands

#### -Positive/direct trend; Pricier cars slightly show higher mileage